@page
@model FirstWebApp.Pages.Account.LoginModel
@{
}
<form method="post">
    <label asp-for="email">username</label>
    <<input asp-for="email">
    <label asp-for="password">Password</label>
    <a href="#" style="float:right;font-size:12px;">Forgot password?</a>
    <<input asp-for="password">

    <button type="submit" class="btn btn-primary btn-block">Sign in</button>

    <div class="sign-up">
        Don't have an account? <a href="/korisnik">Create One</a>
    </div>
</form>