<!DOCTYPE html>
<html lang="en">
<head>
   
</head>
<body>
  

@RenderBody()

    

<script src = "https://code.jquery.com/jquery-3.5.1.js"></script>
<script src = "https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script> 
<script src =  "https://cdn.datatables.net/select/1.4.0/js/dataTables.select.min.js"></script>
<script>$(document).ready(function() {
        $('#example').DataTable( {
            columnDefs: [ {
                orderable: false,
                className: 'select-checkbox',
                targets:   0
            } ],
            select: {
                style:    'multi',
                selector: 'td:first-child'
            },
            order: [[ 1, 'asc' ]]
        } );
    } );

    $(document).ready( function () {
        var  DT1 = $('#example').DataTable();
        $(".selectAll").on( "click", function(e) {
            if ($(this).is( ":checked" )) {
                DT1.rows(  ).select();        
            } else {
                DT1.rows(  ).deselect(); 
            }
        });
    } );
</script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>